
.navbar a
{
	font-family: 'Josefin Sans', sans-serif;
	color:white;
}
.drop-font
{
	background-color: #495057;
}
.drop-font a
{
	color:white;
}
.drop-font a:hover
{
	background-color: #6c757d;
	color:white;
}
.logo
{
	background-color:#ffffff;
	padding-bottom: 10px;
}