{% extends 'index.html'}
{% load static %}

{% block metadescription %}
Welcome to Cart - Swift Bazaar Store
{% endblock %}

{% block title %}
Cart
{% endblock %}

{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center">
            Your cart is empty
        </h1>
        <br>
        <p>
            <a href="{% url 'shop:llProdCat' %}" class="btn btn-primary">Please Click Here</a>
        </p>
    </div>
</div>
{% endblock %}